<div class="jumbotron">


  <input name="token" class="form-control" type="text" id="token" placeholder="Token" ng-model="token">
</div>

</div>

<div class="row">
  <div class="col-md-3">

    <ul class="list-group" ng-repeat="car in listCars">
      <a><li class="list-group-item" ng-click="seleciona(car)">{{car.modelo}}</li></a>
    </ul>

  </div>
  <div class="col-md-9">

    <button type="submit" class="btn btn-primary" ng-click="criarCarro()">Novo</button>
    <div ng-show="showFormCarro">
      <form name="carForm" class="form-horizontal" novalidate>
        <p ng-show="errorForm" class="help-block">{{errorMessage}}</p>
        <div class="form-group">
          <label for="tipoFrete" class="col-sm-2 ">Responsável</label>
          <div class="col-sm-10">
           
            <select class="form-control" name="person" ng-model="person" ng-options="person.name for person in persons track by person.id">
            
          </select>
          </div>
        </div>

        <div class="form-group">
          <label for="modelo" class="col-sm-2 ">Modelo</label>
          <div class="col-sm-10">
            <input type="text" ng-model="carroSelecionado.modelo" class="form-control" id="modelo" placeholder="Ex: Celta" ng-required="true">
          </div>
        </div>

        <div class="form-group">
          <label for="ano" class="col-sm-2 ">Ano</label>
          <div class="col-sm-10">
            <input type="number" ng-model="carroSelecionado.ano" class="form-control" id="ano" placeholder="Ex: 2009" ng-required="true" ng-minlength="4"
              ng-maxlength="4">
          </div>
        </div>

        <div class="form-group">
          <label for="cor" class="col-sm-2 ">Cor</label>
          <div class="col-sm-10">
            <input type="text" ng-model="carroSelecionado.cor" class="form-control" id="Cor" placeholder="Ex: Azul" ng-required="true">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-disabled="carForm.$invalid" ng-click="salvarCarro(carroSelecionado)">Salvar</button>
          </div>
        </div>

      </form>


    </div>

  </div>
</div>